.container{
    background-color: rgb(7, 7, 7);
    width: 300px;
    padding: 20px;
    border-radius: 30px;
    border: 3px solid gold;
    text-align: center;
    line-height: 200px;
    
}
.card{
    background-color: rgb(7, 7, 7);
    width: 300px;
    padding: 10px;
    border-radius: 30px;
    border: 3px solid gold;
    text-align: center;
    margin: 0 auto; 
    float: none;
    margin-bottom: 10px;
}
body {
    background-image: url("cover.png");
  }
.clock-time,
.clock-ampm,
.clock-second,
.date{
    color:rgb(248, 244, 244);
}
.clock-time{
    font-size: 45px;
}
.clock-ampm{
    font-size: 20px;
}
footer {
    display: block;
    text-align: center;
    padding: 200px;
    color: white;
  }